/* #banner */
    #banner{
        position: relative;
        z-index: 100;
    }
    #banner h3{
        font-weight: 700;
        font-size: 26pt; 
    }
    #banner .background{
        height: 115vh !important;
    }
    #banner .background .img{
        height: 115vh !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #banner .background .img .content{
        height: 115vh !important;
        padding:0 4em;
    }
    #banner .background .img .content h2{
        font-weight: 800;
        font-size: 68pt;
    }
    #banner .row div{
        color: white;
        padding: 1.8em 0;
    }
    #banner #chev-down{
        cursor: pointer;
        width:45px;
    }
    #banner .vertical-line{
        width:0;
        height:20vh;
        border: solid white 1px;
        margin: 2em auto;
    }
    #banner .icon{
        width: 60px;
    }
/* #banner */

/* #quotes */
    #quotes{
        color: rgba(1,160,228,1);
    }
    #quotes #img-show{
        /* padding-left: .5em; */
    }
    #quotes #img-show .flex-column .img{
        height:245px;
        width:250px;
        margin: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #quotes #img-show .flex-column {
        max-width: 260px;
    }
    #quotes #content{
        /* padding:0 3.2em 0 0; */
    }
    #quotes #content .dis-tab,
    #quotes #content .dis-tab .dis-tab-row,
    #quotes #content .dis-tab .dis-tab-row .dis-tab-cell{
        width:100%;
        height:480px;
        line-height: 1.1;
    }
    #quotes #frase-0 img{
        height:160px;
    }
    #quotes #frase-1 p{
        font-weight: 300;
        font-size: 30pt;
        font-style: italic;
        margin:0;
        padding:0;
        padding-left:.2em;
    }
    #quotes #frase-2{
        font-weight: 700;
        font-size: 30pt;
        font-style: italic;
    }
/* #quotes */

/* #product */
    #product h1{
        color: rgba(1,160,228,1);
        padding-top: 1em;
        padding-bottom: 2em;
    }
    #product h3{
        margin-bottom: .8em;
        font-weight: 700;
        color: rgba(1,160,228,1);
    }
    #product p {
        line-height: 1.8em;
    }
    #product img{
        margin-bottom: 1.4em;
        width:200px;
    }
    #product .text{
        width:85%;
        margin: 0 auto;
    }
/* #product */

/* #teksture */
    #teksture{
        overflow-x: hidden;
        position: relative;
        background-image: linear-gradient(rgb(217, 234, 224), rgb(217, 234, 224), rgb(217, 234, 224), rgb(255,255,255));
        background-color:rgb(217, 234, 224);
    }
    #teksture #bc-white{
        top:0;
        width: 100vw;
        background-color:white;
        height:122vh;
        border-radius: 0 0 0 59%;
    }
    #teksture #bc-dark{
        top:-565px;
        height:1225px;
        width:1225px;
        right: -142.5px;
        background-color:rgb(216 236 225);
        border-radius: 100%;
    }
    #teksture #bc-light{
        top:-500px;
        height:1050px;
        width:1050px;
        right: -55px;
        background-color:rgb(229 240 234);
        border-radius: 100%;
        box-shadow: -2px 5px 8px rgba(111,111,111,.4);
    }
/* #teksture */

/* #client */
    #client{
        color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #client h1{
        padding-top: 0;
        padding-bottom: 1.6em;
    }
    #client h1 span:nth-child(odd){
        font-weight: 300;
    }
    #client h1 span:nth-child(even){
        font-weight: 700;
    }
    #client img{
        width:100%;
    }
/* #client */

/* #sustainability */
    #sustainability h1{
        padding: 4em 0 4em;
        font-weight: 700;
        color: rgba(1,160,228,1);
    }
    #sustainability img#img{
        position: absolute;
        top:0;
        left:0;
        width:100%;
    }
    #sustainability #content .img{
        height:240px;
        width:240px;
        margin: 0 auto;
        border-radius: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #sustainability #content h3{
        color: rgba(1,160,228,1);
    }
    #sustainability #content p{
        border-bottom: double 4px;
        border-color: rgba(1,160,228,1);
    }
/* #sustainability */

/* #news_info */
    #news_info h1,
    #news_info h3{
        color: rgba(1,160,228,1);
    }
    #news_info img {
        max-width: 85%;
    }
    #news_info #owlNav img{
        width: 58px;
        cursor: pointer;
    }
/* #news_info */

@media (max-width: 568px){
    #banner {
        margin-top: 75px;
    }
    #banner.fullScrenn,
    #banner .fullScrenn{
        height: 90vh;
    }
    #banner #owl .item .content-item .row{
        display: none;
    }
    #banner #owl .item .line-teks{
        padding-right: 10px;
    }
    #banner .background .img .content{
        height: 90vh;
    }
    #banner .background .img .content h2{
        font-size: 20pt;
    }
    #teksture #bc-white,
    #teksture #bc-dark,
    #teksture #bc-light{
        display: none;
    }
    #quotes #img-show{
        margin-bottom: 4rem;
    }
    #quotes #img-show .flex-column .img{
        height: 100px;
        width: 115px;
    }
    #quotes #frase-0 img{
        height: 44px;
    }
    #quotes #frase-1 p{
        font-size: 22pt;
        margin-bottom: 1rem;
    }
    #quotes #frase-2{
        text-align:right;
        font-size: 22pt;
        margin-top: 2rem;
    }
    #quotes #content .dis-tab, #quotes #content .dis-tab .dis-tab-row, #quotes #content .dis-tab .dis-tab-row .dis-tab-cell{
        height: auto;
    }
    #product h1{
        padding-top: 0;
        padding-bottom: 1rem;
        margin-top: -2rem;
    }
    #sustainability h1{
        font-size: 20pt;
    }
    #sustainability #content .col{
        margin-bottom: 1rem;
    }
}