body{
    color: rgb(109 109 109);
    font-weight: 500;
}
nav#header{
    background-color: rgba(0,0,0,0);
}
nav#header.change{
    background-color: rgba(0,0,0,0);
}
nav#header .btn-menu-toggle .line{
    stroke: #01a0e4;
}
.title-section{
    color: rgb(19 169 229);
    font-weight: 300;
}
#banner{
    margin-top:0px;
}
#banner .img{
    height: 95vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 70% 100%;
}
#gradient{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width:100vw;
    height:155vh;
    background-color: rgb(217,234,224);
    background-image: linear-gradient(rgb(217,234,224),rgb(217,234,224),rgb(217,234,224),rgb(217,234,224),rgb(217,234,224),rgb(255,255,255));
}
#news-list h3{
    font-weight: 700;
}
#news-list .img{
    width: 100%;
    height: 240px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
#pagination-container{
    /* float:right; */
}
#pagination-container .page-link{
    color: rgba(1,160,228,1) !important;
}
#pagination-container .page-item.active .page-link{
    color: #fff !important;
    background-color: rgba(1,160,228,1) !important;
    border-color: rgba(1,160,228,1) !important;
}
@media (max-width: 568px){
    #banner{
        margin-top:0px;
    }
}